<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
</head>

<body>
	<h1>Admin Panel, Ändra din sida</h1>
	<hr>
	<div>

		<form action="/" method="POST" enctype="multipart/form-data">
			
			<div>
				<label for="name">Choose page</label>
				<select id='purpose'>
				<option value="0">About page</option>
				<option value="1">Contact page</option>
				<option value="2">Image page</option>
				</select>
				<div style='display:none;' id='business'>Business Name<br/>&nbsp;
				<br/>&nbsp;
					<input type='text' class='text' name='business' value size='20' />
					<br/>
			</div>
			<div>
				<label for="name">Image Title</label>
				<input type="text" id="name" placeholder="Name"
					value="" name="name" required>
			</div>
			<div>
				<label for="desc">Image Description</label>
				<textarea id="desc" name="desc" value="" rows="2"
						placeholder="Description" required>
				</textarea>
			</div>
			<div>
				<label for="image">Upload Image</label>
				<input type="file" id="image"
					name="image" value="" required>
			</div>
					
			</div>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>

</body>

</html>
